@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.navbar {
  background-color: transparent !important;
}
.navbar li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.2em !important;
}
.carousel-inner img{
  width:100%;
  height:100%;
}
.carousel-caption {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%:
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
  font-size: 150%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.carousel-caption h2 {
  font-size: 150;
  font-weight: : 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.lead {
  font-size: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}
.padding {
  padding-bottom: 2rem;
}
#welcomePage, #aboutMePage, #projectsPage, #contactPage {
  padding-top: 0rem;
}
.hr {
  border-top: 2px solid #b4b4b4;
  width: 75%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
#fixBook1 {
  padding-top: 25rem;
}
#fixBook2 {
  padding-bottom: 10rem;
}
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163ef;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.card img{
  height:350px;
  width:450px%;
  border-radius: 2%;
}
.card {
  border-radius: 2%;
  padding: 0.5rem;
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.6);
}
footer {
  background-color: #666666;
}
hr.light{
  border-top: 1px solid #808080;
  width: 75%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.contact-form {
  color:black;
  padding-right: 50px;
  padding-left: 50px;
}
.display-4{
  font-size: 300%;
}

/* Beginning about me */
.member-area {
  position: relative;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transfrom-style: preserve-3d;
  transform-style: preserve-3d;
}
.box-front {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
  padding: 15% 20%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  min-height: 400px;
}
.box-back {
  position: absolute;
  top:0;
  left:0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  min-height: 400px;
  margin-bottom: 30px;
  padding: 10% 15%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.box-front, .box-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -moz-transition:1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.image-area img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#aboutMeRows {
  padding-left: 2rem;
  padding-right: 2rem;
}
.single-member:hover .box-back{
  -webkit-transform: rotateY(0deg);
  -moz-transfrom: rotateY(0deg);
  -o-transfrom: rotateY(0deg);
  -ms-transfrom: rotateY(0deg);
  transform: rotateY(0deg);
}
.single-member:hover .box-front{
  -webkit-transform: rotateY(180deg);
  -moz-transfrom: rotateY(180deg);
  -o-transfrom: rotateY(180deg);
  transform: rotateY(180deg);
}
.box-back, .box-front {
  border: 10px  #c5c5c5;
  border-radius: 2%;
}
.team-text h2, .back-contnet h2{
  font-family: sans-serif;
  padding-top: 3rem;
}
.team-text p, .back-content p{
  text-align: justify;
  line-height: 25px;
  margin-top: 25px;
}
/* beginning of book */
.cardBook {
  position: absolute;
  text-align: left;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 100px rgba(0, 0, 0, 0.5);
  transition: 1s;
}
.cardBook:hover {
  transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, 0.5);
  transition: 1s;
}
.cardBook:before{
  content: '';
  position: absolute;
  top: -5px;
  left:0;
  width: 100px;
  height: 5px;
  background: #475b02;
  transform-origin: bottom;
  transform: skewX(-45deg);
}
.cardBook:after {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #7EA301;
  transform-origin: left;
  transform: skewY(-45deg);
}
.cardBook .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transition: 1s;
}
.cardBook:hover .imgBox {
  transform: rotatey(-135deg);
}
.cardBook .details {
  position: absolute;
  top:0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  z-index: -1;
}
.headerBook {
  font-size: 110%;
}
.slotText {
  font-size: 80%;
  padding-bottom: .5rem;
}
.footerBook {
  font-size: 50%;
  text-align: center;
}
/* End of book */
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  #FIXX {
    display: none;
  }
  .back-content {
    font-size: 80%;
  }
  .image-area img {
    height: 150px;
    width: 150px;
  }
  .team-text h2{
    font-size: 180%;
  }
  .image-area {
    padding-top: 2.5rem;
  }
  p.lead {
    font-size: 90%;
    /* padding-left: 10rem; */
  }
  figure {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0!important;
  }
}
@media (max-width: 768px) {
#FIXX {
  display: none;
}
.carousel-caption {
  top:45%;
}
.carousel-caption h1 {
  font-size: 350%
}
.carousel-caption h3 {
  font-size: 100%;
  font-weight: 500;
  padding-bottom: 1rem;
}
.carousel-caption h2 {
  font-size: 150%;
  font-weight: 500;
  padding-bottom: 1rem;
  padding-top: 3rem;
}
.carousel-caption .btn {
  font-size: 95%;
  padding: 8px 14px;
}
p.lead {
  font-size: 100%;
}
.jumbotron .btn {
  font-size: 80%;
  padding: 8px 16px;
}
.SEOimage {
  margin-left: 12rem;
}
.fa-code {
  font-size: 300%;
}
.fa-css3{
  font-size: 300%;
}
.fa-bold {
  font-size: 300%;
}
.lng {
  font-size: 150%;
}
.display-4 {
  font-size: 250%;
}
figure {
  position: relative;
  width: 100%;
  height: 40%;
  margin: 0!important;
}

}
@media (max-width: 576px) {
  #FIXX {
    display: none;
  }
  .image-area img {
    height: 180px;
    width: 180px;
  }
  .navbar {
    font-size: 60%;
  }
  .carousel-caption {
    top:42%;
  }
  .carousel-caption h1 {
    font-size: 200%
  }
  .carousel-caption h3 {
    font-size: 60%;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  .carousel-caption h2 {
    font-size: 80%;
    font-weight: 500;
    padding-bottom: ;
    padding-top: 2rem;
  }
  .carousel-caption .btn {
    font-size: 30%;
    padding: 3px 6px;
  }
  .jumbotron {
    padding: 1rem;
    height:100px;
  }
  .display-4 {
    font-size: 160%;
  }
  #connect {
    display: none;
  }
  .SEOimage {
    margin-left: 0rem;
  }
  .jumbo {
    font-size: 70%;
  }
  p.lead {
    font-size: 80%;
  }
  .jumbotron .btn {
    font-size: 40%;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  figure {
    position: relative;
    width: 100%;
    height: 35%;
    margin: 0!important;
  }
  #lng {
    font-size: 80%;
  }
  p.card-text {
    font-size: 80%;
  }
  h4.card-title{
    font-size: 120%;
  }
  .address {
    font-size: 40%;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/

#fixed {
  background-image: url('images/background3.png');
  position: fixed;
  display: block;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
