body {
  background: #eee;
}
.team-area {
  padding: 2% 0;
}
.section-header p {
  font-family: poppins;
  width: 75%;
  margin: 2% auto;
  line-height: 25px;
}

.line {
  height:2px;
  width: 200px;
  display: inline-block;
  margin:auto;
  background: tomato;
}

.member-area {
  position: relative;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transfrom-style: preserve-3d;
  transform-style: preserve-3d;
}
.box-front {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  /* transform: rotateY(0deg); */
  z-index: 2;
  margin-bottom: 30px;
  padding: 15% 20%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  min-height: 400px;
}

.box-back {
  position: absolute;
  top:0;
  left:0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  min-height: 400px;
  margin-bottom: 30px;
  padding: 10% 15%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.box-front, .box-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -moz-transition:1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.image-area img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.single-member:hover .box-back{
  -webkit-transform: rotateY(0deg);
  -moz-transfrom: rotateY(0deg);
  -o-transfrom: rotateY(0deg);
  -ms-transfrom: rotateY(0deg);
  transform: rotateY(0deg);
}
.single-member:hover .box-front{
  -webkit-transform: rotateY(180deg);
  -moz-transfrom: rotateY(180deg);
  -o-transfrom: rotateY(180deg);
  transform: rotateY(180deg);
}
.box-back, .box-front {
  border: 10px double #c5c5c5;
}
.team-text h2, .back-contnet h2{
  font-family: sans-serif;
  padding-top: 3rem;
}
.team-text p, .back-content p{
  text-align: justify;
  line-height: 25px;
  margin-top: 25px;
}
